:root {
  --green: #56b280;
  --black: #272727;
  --link-gray: #e1e1e1;
  --black100: #1d252c;
  --button-gray: #d6d6d6;
  --dark-1: #5e6e89;
  --dark-blue: #0b254b;
  --bg-gray: #f7f8fa;
}

.default-container {
  padding-left: 165px;
  padding-right: 165px;
}

.logotype {
  display: flex;
  align-items: center;
}

.main {
  margin-top: 75px;
}

.link {
  color: black;

  &_active {
    color: var(--green);
  }
}
