:root {
  --green: #56b280;
  --black: #272727;
  --link-gray: #e1e1e1;
  --black100: #1d252c;
  --button-gray: #d6d6d6;
  --dark-1: #5e6e89;
  --dark-blue: #0b254b;
}

.default-container {
  padding-left: 165px;
  padding-right: 165px;
}

.logotype {
  display: flex;
  align-items: center;
}
