:root {
  --green: #56b280;
  --black: #272727;
  --link-gray: #e1e1e1;
}

.default-container {
  padding-left: 165px;
  padding-right: 165px;
}

.logotype {
  display: flex;
  align-items: center;
}
