@import "src/styles/_inheritance.scss";

.product {
  @extend %centered-content;
  width: 255px;
  height: 230px;
  box-shadow: 0px 4px 24px 0px rgba(123, 123, 123, 0.15);

  &__content {
    width: 255px;
    height: 76px;
    background: #fff;
    position: absolute;
    margin-top: 154px;
    padding: 16px 25px;
  }

  &__img {
    background-size: contain;
    background-position-y: -25px;
    width: 255px;
    position: absolute;
  }

  &__name {
    @extend %Poppins-card-font;
  }

  &__price {
    @extend %Roboto-card-font;
  }
}
