@import "src/styles/_inheritance.scss";

.header {
  width: 100%;
  height: 75px;
  background: #fff;
  position: fixed;
  z-index: 2;

  .centered-content {
    @extend %centered-content;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
  }

  .logotype {
    gap: 7px;
  }

  &__nav {
    @extend %Roboto-font;
    width: 388px;

    li {
      margin-left: 3px;
      margin-right: 3px;
      padding-left: 25px;
      padding-right: 25px;
      display: inline;
    }
  }

  &__pc {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
